<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style-tasks.css">
    <title>Tasks</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
</head>
<body>
<div id="app" class="bubu">
    <div id="userInfo">
        <p>Позывной: {{userInfo.callsign}}<br>
            Деньги: {{animatedFighterMoney}}<br></p>
    </div>
    <p class="task">Текущее задание:<br>
        Название: {{currentTask.name}} <br>
        Описание: {{currentTask.description}} <br>
        Награда: {{currentTask.reward}} <br>
        <img v-if="currentTask.name=='Дефицит'" src="picture/deficit.png">
        <img v-if="currentTask.name=='Проба пера'" src="picture/proba_pera.png">
        <br>
        <button v-on:click="taskCompleted" class="choose">Выполнить</button> <br>
    <p v-if="!currentTask" id="error">{{errorTaskCompleted}}</p>
    <div id="tasks">
    <ul class="square">
        <li class="task" v-for="task in tasks">
            Название: {{task.name}} <br>
            Описание: {{task.description}} <br>
            Награда: {{task.reward}} <br>
            Владелец: {{task.callSign}} <br>
            <input v-if="task.callSign=='Prapor'" type="button" id="prapor" class="but" value="PRAPOR" name="prap"
                   onclick="gotrader('Prapor')">
            <input v-if="task.callSign=='Terapevt'" type="button" id="terapevt" class="but" value="TERAPEVT" name="tera"
                   onclick="gotrader('Terapevt')">
            <input v-if="task.callSign=='Skupshik'" type="button" id="skupshik" class="but" value="SKUPSHIK" name="skup"
                   onclick="gotrader('Skupshik')">
            <input v-if="task.callSign=='Lizhnik'" type="button" id="lizhnik" class="but" value="LIZHNIK" name="lizh"
                   onclick="gotrader('Lizhnik')">
            <input v-if="task.callSign=='Mirotvorec'" type="button" id="mirotvorec" class="but" value="MIROTVOREC"
                   name="miro" onclick="gotrader('Mirotvorec')">
            <input v-if="task.callSign=='Mechanic'" type="button" id="mechanic" class="but" value="MECHANIC"
                   name="mechanic" onclick="gotrader('Mechanic')">
            <input v-if="task.callSign=='Baracholshik'" type="button" id="barah" class="but" value="BARACHOLSHIK" name="bara"
                   onclick="gotrader('Barah')">
            <input v-if="task.callSign=='Eger'" type="button" id="eger" class="but" value="EGER" name="eger" onclick="gotrader('Eger')">
            <br>
            <button v-on:click="takeTask(task.id)" class="choose">Выбрать</button>
        </li>

    </ul>
    </div>
    <input type="button" id="back" value="BACK" name="back" onclick="back()">
</div>
<script type="application/javascript">
    new Vue({
        el: '#app',
        data: {
            userInfo:'',
            currentTask: '',
            tasks: '',
            errorTaskCompleted:'',
            FighterMoney:0
        },
        methods: {
            getCurrentTask: function () {
                return axios
                    .get('http://localhost:8080/getCurrentTask')
                    .then(response => (this.currentTask = response.data));
            },
            getUserInfo : function () {
                return axios
                    .get('http://localhost:8080/UserInfo')
                    .then(response => (
                        this.userInfo = response.data));
            },
            getTasks: function () {
                return axios
                    .get('http://localhost:8080/GetTasks')
                    .then(response => (this.tasks = response.data));
            },
            taskCompleted: function () {
                axios.post('http://localhost:8080/passTask').then(response => {
                    console.log(response.data);
                }).catch(error => this.errorTaskCompleted=error.response.data.message).finally(() => this.getUserInfo());
                this.currentTask = '';
            },
            takeTask: function (task_id) {
                return axios.post('http://localhost:8080/takeTask', {id: task_id}).then(response => {
                    console.log(response.data);
                }).finally(() => {
                        this.getCurrentTask().finally(() => {
                            this.getTasks().finally(() => this.getUserInfo())
                        });

                    }
                );

            }
        },
        computed: {
            fighterBank: function () {
                return this.userInfo.money;
            },
            animatedFighterMoney: function() {
                return this.FighterMoney.toFixed(0);
            }
        },
        watch: {
            fighterBank: function(newValue) {
                gsap.to(this.$data, { duration: 1, FighterMoney: newValue });
            }
        },
        mounted() {
            this.getTasks();
            this.getCurrentTask();
            this.getUserInfo();
        }
    });
</script>
<script>
    function back() {
        window.location = "AfterAvtor.html"
    }
    function gotrader(trader) {
        window.location = "traderpage.html?callsign=" + trader
    }
</script>
</body>
</html>