<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style-traderpage.css">
    <title>Trader</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <link rel="icon" href="data:,">
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <td>
                    <div id="userInfo">
                        Позывной: {{userInfoTraderPage.callsign}} <br>
                        Деньги: {{animatedFighterMoney}}
                    </div>
                    <div id="traderInfo">
                        <div v-if="traderPhrase" class="speechWrapper">
                            <span  class="speech"> {{traderPhrase}}</span>
                        </div>

                        <img  v-if="trader==='Prapor'" src="picture/prapor.png">
                        <img  v-if="trader==='Terapevt'" src="picture/terapevt.png">
                        <img  v-if="trader==='Skupshik'" src="picture/skupshik.png">
                        <img  v-if="trader==='Lizhnik'" src="picture/lizhnik.png">
                        <img  v-if="trader==='Mirotvorec'" src="picture/mirotvorec.png">
                        <img  v-if="trader==='Mechanic'" src="picture/mechanic.png">
                        <img  v-if="trader==='Baracholshik'" src="picture/barac.png">
                        <img  v-if="trader==='Eger'" src="picture/eger.png">
                        <br> Имя: {{trader}} <br>
                        Деньги: {{ animatedTraderMoney }} <br>
                    </div>
                </td>
                <td>
                    <div id="items">
                        <ol class="square">
                            <li class="item" v-if="item.amount" v-for="item in inventory">
                                <table>
                                    <tr>
                                        <td>
                                        <img width="200px" height="200px" v-if="item.magazine_id && item.magazine_id.caliber===5.45" src="./picture/items/45orangeakimage.png">
                                        <img width="200px" height="200px" v-if="item.ammunition_id && item.ammunition_id.caliber===5.45" src="./picture/items/5_45.png">
                                        <img width="200px" height="200px" v-if="item.armor_id && item.armor_id.name==='6Б3ТМ-01М'" src="./picture/items/6B3TM-01M.png">
                                        <img width="200px" height="200px" v-if="item.armor_id && item.armor_id.name==='6Б43'" src="./picture/items/6B43.png">
                                        <img width="200px" height="200px" v-if="item.armor_id && item.armor_id.name==='6Б5-15 Улей'" src="./picture/items/6B5-15.png">
                                        <img width="200px" height="200px" v-if="item.ammunition_id && item.ammunition_id.caliber===7.62" src="./picture/items/7.62x39PS_ins.png">
                                        <img width="200px" height="200px" v-if="item.ammunition_id && item.ammunition_id.caliber===7" src="./picture/items/7mm.png">
                                        <img width="200px" height="200px" v-if="item.ammunition_id && item.ammunition_id.caliber===9" src="./picture/items/9x18IMAGE.png">
                                        <img width="200px" height="200px" v-if="item.weapon_id && item.weapon_id.name==='АК-74М'" src="./picture/items/AK-74M.png">
                                        <img width="200px" height="200px" v-if="item.magazine_id && item.magazine_id.caliber===7.62" src="./picture/items/AK-103Mag.png">
                                        <img width="200px" height="200px" v-if="item.weapon_id && item.weapon_id.name==='АКМН'" src="./picture/items/Akm.png">
                                        <img width="200px" height="200px" v-if="item.provision_id && item.provision_id.name==='Галеты'" src="./picture/items/Army_Crackers.png">
                                        <img width="200px" height="200px" v-if="item.medicine_id && item.medicine_id.name==='Бинт'" src="./picture/items/bint.png">
                                        <img width="200px" height="200px" v-if="item.medicine_id && item.medicine_id.name==='Автомобильная аптечка'" src="./picture/items/EFT_Car-first-aid-kit.png">
                                        <img width="200px" height="200px" v-if="item.medicine_id && item.medicine_id.name==='Salewa'" src="./picture/items/EFT_Salewa-First-Aid-Kit.png">
                                        <img width="200px" height="200px" v-if="item.helmet_id && item.helmet_id.name==='Ops-Core Fast'" src="./picture/items/Helmet_ops_core_fast.png">
                                        <img width="200px" height="200px" v-if="item.helmet_id && item.helmet_id.name==='Ратник-БШ'" src="./picture/items/Helmet_ratnik_6B47.png">
                                        <img width="200px" height="200px" v-if="item.helmet_id && item.helmet_id.name==='СШ-68'" src="./picture/items/SH-68.png">
                                        <img width="200px" height="200px" v-if="item.helmet_id && item.helmet_id.name==='Колпак 1'" src="./picture/items/Kolpak-1S.png">
                                        <img width="200px" height="200px" v-if="item.provision_id && item.provision_id.name==='Сухпай Искра'" src="./picture/items/Lunchbox.png">
                                        <img width="200px" height="200px" v-if="item.provision_id && item.provision_id.name==='Snickers'" src="./picture/items/Slickers_bar.png">
                                        <img width="200px" height="200px" v-if="item.provision_id && item.provision_id.name==='Сайра консервированная'" src="./picture/items/Saury.png">
                                        <img width="200px" height="200px" v-if="item.magazine_id && item.magazine_id.caliber===5.56" src="./picture/items/M4-Stanag30.png">
                                        <img width="200px" height="200px" v-if="item.magazine_id && item.magazine_id.caliber===9" src="./picture/items/PM_9x18_8RdMagazine.png">
                                            <img width="200px" height="200px" v-if="item.weapon_id && item.weapon_id.name==='Витязь-СН'" src="./picture/items/Pp19.png">
                                            <img width="200px" height="200px" v-if="item.weapon_id && item.weapon_id.name==='Mossberg 590A1'" src="./picture/items/M590A1_View.png">
                                            <img width="200px" height="200px" v-if="item.armor_id && item.armor_id.name==='PACA'" src="./picture/items/PACA_Soft_Armor.png">
                                            <img width="200px" height="200px" v-if="item.medicine_id && item.medicine_id.name==='АИ-2'" src="./picture/items/Аи-2.png">

                                        </td>
                                        <td width="600px" style="margin-left: 100px">
                                            <p v-if="item.medicine_id">
                                                Название: {{item.medicine_id.name}} <br>
                                                Запас здоровья: {{item.medicine_id.healt_resource}} <br>
                                            </p>
                                            <p v-if="item.weapon_id">
                                                Название: {{item.weapon_id.name}} <br>
                                                Тип: {{item.weapon_id.type}} <br>
                                                Точность: {{item.weapon_id.accuracy}} <br>
                                                Эргономикс: {{item.weapon_id.ergonomics}} <br>
                                                Начальная скорость: {{item.weapon_id.starting_speed}} <br>
                                                Калибр: {{item.weapon_id.caliber}} <br>
                                                Состояние: {{item.weapon_id.technical_condition}} <br>
                                            </p>
                                            <p v-if="item.ammunition_id">
                                                Боеприпас <br>
                                                Калибр: {{item.ammunition_id.caliber}} <br>
                                                Скорость: {{item.ammunition_id.bullet_speed}} <br>
                                            </p>
                                            <p v-if="item.helmet_id">
                                                Название: {{item.helmet_id.name}} <br>
                                                Материал: {{item.helmet_id.material}} <br>
                                                Класс армора: {{item.helmet_id.armor_class}} <br>
                                                Очки брони: {{item.helmet_id.armor_point}} <br>
                                                Шанс рикошета: {{item.helmet_id.ricochet_chance}} <br>
                                            </p>
                                            <p v-if="item.provision_id">
                                                Название: {{item.provision_id.name}} <br>
                                                Энергия: {{item.provision_id.energy}} <br>
                                            </p>
                                            <p v-if="item.armor_id">
                                                Название: {{item.armor_id.name}} <br>
                                                Материал: {{item.armor_id.material}} <br>
                                                Класс армора: {{item.armor_id.armor_class}} <br>
                                                Очки брони: {{item.armor_id.armor_point}} <br>
                                            </p>
                                            <p v-if="item.magazine_id">
                                                Магазин <br>
                                                Эргономикс: {{item.magazine_id.ergonomics}} <br>
                                                Калибр: {{item.magazine_id.caliber}} <br>
                                            </p>
                                            <p>Количество: {{item.amount}} <br>
                                                Цена: {{item.price}} <br></p>
                                            <input id = "inputAmount"  type="number" name="amount" v-model="item.amount_of_items" min="1" v-bind:max="item.amount"> <br>
                                            <input type="button" class="but" v-on:click="buyItem(item.id, item.amount_of_items)" value="Купить">
                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <p v-if="!inventory.length" id="noItems">У продавца в текущий момент нет товаров, возвращайтесь позднее</p>
                            <p v-if="error_msg" id="error"> {{error_msg}}</p>
                        </ol>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" id="back" class="but" value="BACK" name="back" onclick="back()">
                </td>
            </tr>
        </table>
    </div>
    <script type="application/javascript">
        var app2 = new Vue({
            el: '#app',
            data: {
                userInfoTraderPage:'',
                trader:'',
                money:'',
                inventory:'',
                amount_of_items:'',
                error_msg:'',
                FighterMoney:0,
                TraderMoney: 0,
                traderPhrase:''
            },
            methods: {
                getUserInfo: function () {
                    return axios
                        .get('http://localhost:8080/UserInfo')
                        .then(response => (
                            this.userInfoTraderPage = response.data));
                },
                getTraderInventory: function () {
                    return axios
                        .get('http://localhost:8080/TraderInventory?callsign=' + this.trader, )
                        .then(response => (this.inventory = response.data)).finally(() => this.getTraderInfo())
                        .finally(() => this.getUserInfo());
                },
                getTraderInfo: function () {
                    return axios
                        .get('http://localhost:8080/getTrader?callsign=' + this.trader)
                        .then(response => (this.money = response.data.money));
                },
                buyItem: function (itemId, amountOfItems) {
                        return axios.post('http://localhost:8080/buy', {id: itemId, amount: amountOfItems}).then(response => {
                            this.error_msg=''; this.traderPhrase='Отличная сделка!'; var snd = new Audio("Sound_16337.mp3"); // buffers automatically when created
                            snd.play();
                        }).catch(error => {this.traderPhrase=error.response.data.message; this.buyFlag=false;}).finally(() => this.getTraderInventory());
                },

                getTraderCallSign: function ()

                {
                    let uri = window.location.search.substring(1);
                    let params = new URLSearchParams(uri);
                    this.trader = params.get("callsign");
                }

            },
            computed: {
                fighterBank: function () {
                    return this.userInfoTraderPage.money;
                },
                animatedTraderMoney: function() {
                    return this.TraderMoney.toFixed(0);
                },
                animatedFighterMoney: function() {
                    return this.FighterMoney.toFixed(0);
                }
            },
            watch: {
                money: function(newValue) {
                    gsap.to(this.$data, { duration: 2, TraderMoney: newValue });
                },
                fighterBank: function(newValue) {
                    gsap.to(this.$data, { duration: 2, FighterMoney: newValue });
                }
            },
            mounted() {
                this.getTraderCallSign();
                this.getTraderInventory();
            }
        });
    </script>
    <script>
        function back() {
            window.location = "Traders.html"
        }
    </script>
</body>
</html>