body {
    background: url("../picture/maxresdefault.jpg");
    text-align: center;
    background-size: cover;
}

.choose {
    background-color: transparent;
    color: white;
    width: 50%;
    transition: 0.5s;
    border: none;
    font-family: "Trebuchet MS";
    font-size: 30px;
    margin-top: 5px;
}
.choose:hover {
    color: black;
    background-color: #928f83;
}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}
.task{
    color: white;
    font-family: "Trebuchet MS";
    font-size: 20px;
    background-color: rgba(46, 49, 49, .5);
}
#userInfo, #noCurrentTask{
    color: white;
    font-family: "Trebuchet MS";
    font-size: 20px;
    background-color: rgba(46, 49, 49, .5);
}
#back {
    background-color: transparent;
    color: white;
    width: 15%;
    transition: 0.5s;
    border: none;
    font-family: "Trebuchet MS";
    font-size: 30px;
}
#back:hover {
    color: black;
    background-color: #928f83;
}
.square {
    margin: 0;
    counter-reset: li;
    list-style: none;
    background-color: transparent;
    padding: 10px;
}
.square li {
    position: relative;
    margin: 0 0 10px 2em;
    padding: 4px 8px;
    border-top: 2px solid #787A77;
    transition: .3s linear;
}
.square li:last-child {margin-bottom: 0;}
.square li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #787A77;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background: #787A77;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: .3s linear;
}
.square li:hover {border-top: 2px solid #389F70;}
.square li:hover:before {
    border: 2px solid #389F70;
    background: #98EABA;
}

#prapor {
    background-image: url("../picture/prapor.png");
}
#terapevt {
    background-image: url("../picture/terapevt.png");
}
#skupshik {
    background-image: url("../picture/skupshik.png");
}
#lizhnik {
    background-image: url("../picture/lizhnik.png");
}
#mirotvorec {
    background-image: url("../picture/mirotvorec.png");
}
#mechanic {
    background-image: url("../picture/mechanic.png");
}
#barah {
    background-image: url("../picture/barac.png");
}
#eger {
    background-image: url("../picture/eger.png");
}
.but {
    width: 200px;
    height: 200px;
    font-size: 25px;
    font-family: "Trebuchet MS";
    padding: 160px 10px 10px;
    color: white;
    transition: 0.5s;
    border: none;
}
.but:hover {
    opacity: .65;
}
#tasks{
    width: 400px;
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}
#tasks::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #969292;
}

#tasks::-webkit-scrollbar
{
    width: 12px;
    background-color: #969292;
}

#tasks::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
#error{
    color: red;
    font-family: "Trebuchet MS";
    font-size: 20px;
    background-color: rgba(46, 49, 49, .5);
}